<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HopitalCsTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HopitalCsTool.Properties.Settings>
            <setting name="gmailid" serializeAs="String">
                <value>csh@radnet.kr</value>
            </setting>
            <setting name="gmailpw" serializeAs="String">
                <value>1q2w3e4r1!</value>
            </setting>
            <setting name="nccvpnid" serializeAs="String">
                <value>os1005</value>
            </setting>
            <setting name="nccvpnpw" serializeAs="String">
                <value>1234$!@#qwe</value>
            </setting>
            <setting name="zolvuezippath" serializeAs="String">
                <value>C:\\downloadedFiles\\</value>
            </setting>
            <setting name="onpacsshotcut" serializeAs="String">
                <value>@echo off

&gt;nul 2&gt;&amp;1 "%SYSTEMROOT%\system32\cacls.exe" "%SYSTEMROOT%\system32\config\system"

if '%errorlevel%' NEQ '0' (

    echo 관리 권한을 요청 ...

    goto UACPrompt

) else ( goto gotAdmin )

:UACPrompt

    echo Set UAC = CreateObject^("Shell.Application"^) &gt; "%temp%\getadmin.vbs"

    set params = %*:"=""

    echo UAC.ShellExecute "cmd.exe", "/c %~s0 %params%", "", "runas", 1 &gt;&gt; "%temp%\getadmin.vbs"



    "%temp%\getadmin.vbs"

    rem del "%temp%\getadmin.vbs"

    exit /B



:gotAdmin

c:\progra~1\intern~1\iexplore.exe https://www.onpacs.com/Login.aspx</value>
            </setting>
            <setting name="cv3path" serializeAs="String">
                <value>C:\downloadedFiles\OptimumInstaller.exe</value>
            </setting>
            <setting name="BRHCopypath" serializeAs="String">
                <value>C:\FILEDATA</value>
            </setting>
        </HopitalCsTool.Properties.Settings>
    </userSettings>
</configuration>